/target
**/*.rs.bk
*.swp
*.DS_Store
.idea
.vscode
*.log
.tools/
**/.gradle/
**/build/
**/.build/
**/DerivedData/
**/local.properties
**/xcuserdata/
.env
.env.*
!.env.example
.specify/*
!.specify/memory/
